* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 60px;
  object-fit: scale-down;
}
.do {
  position: relative;
  &::after {
    content: "o";
    position: absolute;
    top: -9px;
    right: -25px;
    font-size: 4rem;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #3e383887;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;

  .bouncer {
    width: 130px;
    height: 130px;
    background: #ffffff4f;
    border-radius: 50%;
    animation: bounce 1s infinite;
    position: relative;
  }
  &.loading {
    opacity: 1;
    visibility: visible;
  }
}
.wraffer {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://loremflickr.com/1350/700/nature/all);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  padding-bottom: 2em;

  header {
    .country {
      padding: 20px 25px;
      h2 {
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 10px;
        text-transform: capitalize;
      }
      span {
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
    
  }
  .search-area {
    width: 100%;
    // height: 140px;
    display: flex;
    align-items: center;
  }
  .search-box {
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    input {
      background: #fff;
      padding: 10px 15px;
      border: none;
      outline: none;
      font-size: 1.3rem;
      font-family: "montserrat", sans-serif;
      font-weight: 500;
    }
    svg {
        width: 20px;
        color: gray;
        padding: 0 ;
        margin-left: 10px;
        // border-right: 1px solid #dfe0d9eb;
    }
  }
  
  .grid-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    margin:45px 0;
    align-items: center;
    .weather-desc {
      grid-column: 2/6;
      display: flex;
      flex-direction: column;
      .unit {
        display: flex;
        font-size: 4em;
        align-items: center;
        position: relative;
        h2 {
          font-weight: 300;
          margin-left: 10px;
          font-size: 2em;
        }
        img {
          object-fit: scale-down;
          background: #a9a1a129;
          border-radius: 32px;
          position: absolute;
          top: -11px;
          left: -37px;
        }
      }
      h1 {
        font-weight: 300;
        font-size: 2rem;
        margin-left: 70px;
        text-transform: capitalize;
      }
    }
    .layer {
      background: #a9a1a1c2;
      grid-column: 7/12;
      padding: 20px 10px;
      border-radius: 20px;
      min-width: 350px;
      width:400px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; 
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        margin: 0px 10px;
        padding: 15px 0px;
        h2 {
          font-size: 2rem;
          font-weight: 300;
          text-align: center;
          margin-bottom: 7px;
          &::after {
            top: -3px !important;
            right: -11px !important;
            font-size: 1.2rem;
          }
        }
        span {
          font-size: 1.6rem;
        }
      }
    }
  }
  .forecast {
    margin-top: 30px;
    h2 {
      font-size: 3rem;
      font-family: montserrat;
      font-weight: 300;
      margin-bottom: 30px;
      padding-left: 25px;
    }
    .cast-boxs {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto;
      .single-cast {
        display: flex;
        margin: 0 5px 10px 0;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        width: 140px;
        background: #a9a1a1c2;
        border-radius: 4px;

        span.time{
          width: 27px;
        }
        span {
          font-size: 1.7rem;
          font-weight: 400;
          margin: 7px auto;
        }
        span.do {
          &::after {
            font-size: 1.1rem;
            top: -3px;
            right: -9px;
          }
        }
      }
    }
  }
}

// =============== animation===============

@keyframes bounce {
  0% {
    clip-path: circle(0%);
    opacity: 1;
  }
  50% {
    clip-path: circle(50%);
    opacity: 0.9;
  }
  70% {
    clip-path: circle(70%);
    opacity: 0.5;
  }
  100% {
    clip-path: circle(100%);
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .wraffer .grid-section{
    justify-content: center;
    padding: 0 30px;
  }
  .wraffer .grid-section .weather-desc{
    margin-bottom: 30px;
  }

  .wraffer .forecast .cast-boxs{
    padding: 0 10px;
  }
  .single-cast{
    margin-bottom: 20px;
  }
  .wraffer .grid-section .weather-desc .unit h2{
    font-size: 1em;
  }
}


@media only screen and (max-width: 600px) {

  .wraffer .search-box{
    min-width: 245;
  }
  .wraffer .grid-section .layer{
    min-width: 260px;
  }

}
